*{
    box-sizing: border-box;
}



header{
    display: flex;
    background-color: hsl(266, 33%, 20%);
    flex-direction: row;
   justify-content: flex-end;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   padding-bottom: 7px;
   

}

nav{
    width: 400px;
}


ul .uppernav{
    display: inline;
    padding: 30px;
    font-size: 18px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

}

.uppernav:hover{
    background-color: brown;
    
}









#welcome-section{
    background-image: url('../images/red_black_big.jpg');
    background-repeat: no-repeat;
background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;

  
   
}


#welcome-section h1{
    color: white;
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
}


#welcome-section p{
    color: yellow;
    font-size: 30px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    
}

#spacer{
    height: 30px;
}


#project-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #212F45;
   
}


#heading h2{
    margin-top: 50px;
    font-size: 35px ;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 0px;
   
    
   
   
}

hr{
    width: 545px;
    margin-top: 0;
    margin-bottom: 30px;
    
}




.project-tile{
    display: grid;
    grid-gap: 1rem;
    max-width: 100%;
   justify-items: center;

    margin: auto;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
   
}

img{
    width: 500px;
    height: 362px;
}

  .cat  .code{
   visibility: hidden;
   opacity: 0;
   transition: visibility 1s, opacity 0.5s linear;
   color: brown;
    
}

  .cat :hover > .code{
    visibility: visible;
    opacity: 1;
}




.project-tile p{
    margin: 0px;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px ;
    position: relative;
    bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    background-color: #03071E;
    font-family: 'Raleway', sans-serif;

}


button{
    margin-top: 50px;
    padding-left: 25px ;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #03071E;
    color: white;
}


button:hover{
    background-color: red;
}

.arrow{
    font-size: 25px;
}

button:hover .arrow{
    position: relative;
    left: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #065A60;
}


#footer-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-header h2{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

#footer-header p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-style: italic;
    margin-top: 0px;
   
}

#bottom-links{
    display: flex;
    flex-direction: row;
}


#bottom-links li{
    padding: 0;
    padding-left: 25px;
    font-size: 25px;
    display: inline;
    
}


#bottom-links a{
    text-decoration: none;
    color: white;
}


#bottom-links li:hover {

    position: relative;
    top: 10px;
    

    

}

#bottom-links ul{
    padding-left: 0px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    
    
}



span a{
    text-decoration: none;
    color: white;
}





@media(min-width:2000px){
.project-tile{
   width: 75%;
}

}


@media(min-width:325px ) and (max-width:550px){

    hr{
        width: 320px;
    }





    }



    @media(min-width:300px) and (max-width:500px){
         #welcome-section{
            width: 500px;
        }

        #project-section{
            width: 500px;
        }



        footer{
            width: 500px;
        }
    }


  
 




