*{
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: hsl(266, 33%, 20%);
    flex-direction: row;
   justify-content: flex-end;

}

nav{
    width: 300px;
}


ul li{
    display: inline;
    padding-right: 25px;
    font-size: 22px;
    color: white;
}