*{
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: hsl(266, 33%, 20%);
    flex-direction: row;
   justify-content: flex-end;
   position: fixed;
   top: 0;
   width: 100%;

}

nav{
    width: 400px;
}


ul li{
    display: inline;
    padding: 30px;
    font-size: 22px;
    color: white;
}

li:hover{
    background-color: brown;
}









#welcome-section{
    background-image: url('../images/red_black_big.jpg');
    background-repeat: no-repeat;
background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
   
}


#welcome-section h1{
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}


#welcome-section p{
    color: #065A60;
    font-size: 30px;
    font-style: italic;
}

#spacer{
    height: 30px;
}


#project-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#heading h2{
    font-size: 35px ;
   
   
}


#projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}